#using astroquery to get comet ra,decs in a date range or list of specific dates

In [2]:
#essential python packages
import numpy as np
from astropy.time import Time
from astropy.coordinates import SkyCoord
from astroquery.jplhorizons import Horizons

In [3]:
'''
A good reference for comets is Yan Fernandez's list of comets:

https://physics.ucf.edu/~yfernandez/cometlist.html

There are >800 as of Nov 2023
'''

"\nA good reference for comets is Yan Fernandez's list of comets:\n\nhttps://physics.ucf.edu/~yfernandez/cometlist.html\n\nThere are >800 as of Nov 2023\n"

In [27]:
#JPL astroquery functions

#range of dates

def get_current_pos_date_range(object_name, start_date, end_date, time_step):
    obj = Horizons(id=object_name, epochs={'start':start_date, 'stop':end_date,'step':time_step})
    try:
        eph = obj.ephemerides()
        pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
        #times = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
        times = np.asarray(eph['datetime_jd'])
        ra,dec,times = np.asarray(pos.ra),np.asarray(pos.dec),times
    except ValueError:
        print ('Problem with ' + object_name +'. Too many object entries with the same name in JPL database. Need to use record number as object name, e.g., 90000031')
        ra,dec,times = np.asarray('0'),np.asarray('0'),'0'
    return ra,dec,times

def get_current_pos_date_list(object_name, epochs_jd):#need to keep less than ~1000 entries per querie
    obj = Horizons(id=object_name, epochs=epochs_jd)
    try:
        eph = obj.ephemerides()
        pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
        #times = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
        times = np.asarray(eph['datetime_jd'])
        ra,dec,times = np.asarray(pos.ra),np.asarray(pos.dec),times
    except ValueError:
        print ('Problem with ' + object_name +'. Too many object entries with the same name in JPL database. Need to use record number as object name, e.g., 90000031')
        ra,dec,times = np.asarray('0'),np.asarray('0'),'0'
    return ra,dec,times

def get_current_pos_date_list_arbitrary_number(object_name, epochs_jd, entry_limit_per_query_int):#want to keep entry_limit_per_query ~300
    if len(epochs_jd)<entry_limit_per_query_int + 1:#do just one batch if number of entries is under 1k.
        obj = Horizons(id=object_name, epochs=epochs_jd)
        try:
            eph = obj.ephemerides()
            pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
            #times = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
            times = np.asarray(eph['datetime_jd'])
            ra,dec,times = np.asarray(pos.ra),np.asarray(pos.dec),times
        except ValueError:
            print ('Problem with ' + object_name +'. Too many object entries with the same name in JPL database. Need to use record number as object name, e.g., 90000031, or too many entries are being queried at once.')
            ra,dec,times = np.asarray('0'),np.asarray('0'),'0'
    if len(epochs_jd)>entry_limit_per_query_int:
        obj = Horizons(id=object_name, epochs=epochs_jd[:entry_limit_per_query_int])
        ra,dec,times = np.array([]),np.array([]),np.array([])
        try:
            print ("Computing ephemerides for entries 1 to "+ str(entry_limit_per_query_int) + " entries of " + str(len(epochs_jd)) + " total entries.")
            eph = obj.ephemerides()
            pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
            #times_from_JPL = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
            times_from_JPL = np.asarray(eph['datetime_jd'])
            ra,dec,times = np.append(ra,np.asarray(pos.ra)), np.append(dec,np.asarray(pos.dec)), np.append(times,times_from_JPL)
            #now check if first batch is over 1K and do the rest
            fraction_over_interval, number_intervals = np.modf((len(epochs_jd)*1.0)/entry_limit_per_query_int)
            if number_intervals>1.0:
                for interval_tracker in range(1,int(number_intervals)):
                    print ("Computing ephemerides for entries " + str(interval_tracker*entry_limit_per_query_int) +  " to " + str((interval_tracker+1)*entry_limit_per_query_int) + " entries of " + str(len(epochs_jd)) + " total entries.")
                    obj = Horizons(id=object_name, epochs=epochs_jd[interval_tracker*entry_limit_per_query_int:(interval_tracker+1)*entry_limit_per_query_int])
                    eph = obj.ephemerides()
                    pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
                    #times_from_JPL = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
                    times_from_JPL = np.asarray(eph['datetime_jd'])
                    ra,dec,times = np.append(ra,np.asarray(pos.ra)), np.append(dec,np.asarray(pos.dec)), np.append(times,times_from_JPL)
            if fraction_over_interval>0.0:#do the batch <1000 over the initial 1k batch
                print ("Computing ephemerides for entries " + str(interval_tracker*entry_limit_per_query_int) +  " to " + str((interval_tracker+1)*entry_limit_per_query_int) + " entries of " + str(len(epochs_jd)) + " total entries.")
                obj = Horizons(id=object_name, epochs=epochs_jd[(interval_tracker+1)*entry_limit_per_query_int:])
                eph = obj.ephemerides()
                pos = SkyCoord(eph['RA'], eph['DEC'], unit='deg')
                #times_from_JPL = Time(np.asarray(eph['datetime_jd']), format='jd', scale='utc')
                times_from_JPL = np.asarray(eph['datetime_jd'])
                ra,dec,times = np.append(ra,np.asarray(pos.ra)), np.append(dec,np.asarray(pos.dec)), np.append(times,times_from_JPL)
        except ValueError:#will catch stuff before the subsequent calls after the the first 1k entries
            print ('Problem with ' + object_name +'. Too many object entries with the same name in JPL database. Need to use record number as object name, e.g., 90000031, or too many entries are being queried at once.')
            ra,dec,times = np.asarray('0'),np.asarray('0'),'0'
        return ra,dec,times

In [28]:
#examples

#for range of dates

object_name, start_date, end_date, time_step = "C/2018 W1", "2023-11-29", "2023-11-30", "10m"

ra_deg, dec_deg, times = get_current_pos_date_range(object_name, start_date, end_date, time_step)

print (ra_deg, dec_deg, times)

(array([245.1596 , 245.16014, 245.16068, 245.16121, 245.16175, 245.16229,
       245.16283, 245.16336, 245.1639 , 245.16444, 245.16498, 245.16551,
       245.16605, 245.16659, 245.16713, 245.16766, 245.1682 , 245.16874,
       245.16928, 245.16982, 245.17035, 245.17089, 245.17143, 245.17197,
       245.1725 , 245.17304, 245.17358, 245.17412, 245.17465, 245.17519,
       245.17573, 245.17627, 245.1768 , 245.17734, 245.17788, 245.17842,
       245.17895, 245.17949, 245.18003, 245.18057, 245.1811 , 245.18164,
       245.18218, 245.18272, 245.18325, 245.18379, 245.18433, 245.18487,
       245.1854 , 245.18594, 245.18648, 245.18702, 245.18755, 245.18809,
       245.18863, 245.18917, 245.1897 , 245.19024, 245.19078, 245.19132,
       245.19185, 245.19239, 245.19293, 245.19347, 245.194  , 245.19454,
       245.19508, 245.19562, 245.19615, 245.19669, 245.19723, 245.19777,
       245.1983 , 245.19884, 245.19938, 245.19992, 245.20045, 245.20099,
       245.20153, 245.20207, 245.2026 , 245.20314, 245.20368, 245.20422,
       245.20475, 245.20529, 245.20583, 245.20637, 245.2069 , 245.20744,
       245.20798, 245.20852, 245.20905, 245.20959, 245.21013, 245.21067,
       245.2112 , 245.21174, 245.21228, 245.21282, 245.21335, 245.21389,
       245.21443, 245.21497, 245.2155 , 245.21604, 245.21658, 245.21712,
       245.21765, 245.21819, 245.21873, 245.21927, 245.2198 , 245.22034,
       245.22088, 245.22141, 245.22195, 245.22249, 245.22303, 245.22356,
       245.2241 , 245.22464, 245.22518, 245.22571, 245.22625, 245.22679,
       245.22733, 245.22786, 245.2284 , 245.22894, 245.22948, 245.23001,
       245.23055, 245.23109, 245.23163, 245.23216, 245.2327 , 245.23324,
       245.23378, 245.23431, 245.23485, 245.23539, 245.23592, 245.23646,
       245.237  ]), array([15.82571, 15.82571, 15.82571, 15.8257 , 15.8257 , 15.8257 ,
       15.82569, 15.82569, 15.82569, 15.82568, 15.82568, 15.82568,
       15.82567, 15.82567, 15.82567, 15.82566, 15.82566, 15.82566,
       15.82565, 15.82565, 15.82565, 15.82564, 15.82564, 15.82564,
       15.82563, 15.82563, 15.82563, 15.82562, 15.82562, 15.82562,
       15.82562, 15.82561, 15.82561, 15.82561, 15.82561, 15.8256 ,
       15.8256 , 15.8256 , 15.8256 , 15.82559, 15.82559, 15.82559,
       15.82559, 15.82558, 15.82558, 15.82558, 15.82558, 15.82557,
       15.82557, 15.82557, 15.82557, 15.82557, 15.82556, 15.82556,
       15.82556, 15.82556, 15.82556, 15.82556, 15.82555, 15.82555,
       15.82555, 15.82555, 15.82555, 15.82554, 15.82554, 15.82554,
       15.82554, 15.82554, 15.82554, 15.82554, 15.82553, 15.82553,
       15.82553, 15.82553, 15.82553, 15.82553, 15.82553, 15.82553,
       15.82553, 15.82552, 15.82552, 15.82552, 15.82552, 15.82552,
       15.82552, 15.82552, 15.82552, 15.82552, 15.82552, 15.82552,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82551, 15.82551, 15.82551, 15.82551, 15.82551,
       15.82551, 15.82552, 15.82552, 15.82552, 15.82552, 15.82552,
       15.82552, 15.82552, 15.82552, 15.82552, 15.82552, 15.82552,
       15.82552, 15.82553, 15.82553, 15.82553, 15.82553, 15.82553,
       15.82553]), array([2460277.5       , 2460277.50694444, 2460277.51388889,
       2460277.52083333, 2460277.52777778, 2460277.53472222,
       2460277.54166667, 2460277.54861111, 2460277.55555556,
       2460277.5625    , 2460277.56944444, 2460277.57638889,
       2460277.58333333, 2460277.59027778, 2460277.59722222,
       2460277.60416667, 2460277.61111111, 2460277.61805556,
       2460277.625     , 2460277.63194444, 2460277.63888889,
       2460277.64583333, 2460277.65277778, 2460277.65972222,
       2460277.66666667, 2460277.67361111, 2460277.68055556,
       2460277.6875    , 2460277.69444444, 2460277.70138889,
       2460277.70833333, 2460277.71527778, 2460277.72222222,
       2460277.72916667, 2460277.73611111, 2460277.74305556,
       2460277.75      , 2460277.75694444, 2460277.76388889,
       2460277.77083333, 2460277.77777778, 2460277.78472222,
       2460277.79166667, 2460277.79861111, 2460277.80555556,
       2460277.8125    , 2460277.81944444, 2460277.82638889,
       2460277.83333333, 2460277.84027778, 2460277.84722222,
       2460277.85416667, 2460277.86111111, 2460277.86805556,
       2460277.875     , 2460277.88194444, 2460277.88888889,
       2460277.89583333, 2460277.90277778, 2460277.90972222,
       2460277.91666667, 2460277.92361111, 2460277.93055556,
       2460277.9375    , 2460277.94444444, 2460277.95138889,
       2460277.95833333, 2460277.96527778, 2460277.97222222,
       2460277.97916667, 2460277.98611111, 2460277.99305556,
       2460278.        , 2460278.00694444, 2460278.01388889,
       2460278.02083333, 2460278.02777778, 2460278.03472222,
       2460278.04166667, 2460278.04861111, 2460278.05555556,
       2460278.0625    , 2460278.06944444, 2460278.07638889,
       2460278.08333333, 2460278.09027778, 2460278.09722222,
       2460278.10416667, 2460278.11111111, 2460278.11805556,
       2460278.125     , 2460278.13194444, 2460278.13888889,
       2460278.14583333, 2460278.15277778, 2460278.15972222,
       2460278.16666667, 2460278.17361111, 2460278.18055556,
       2460278.1875    , 2460278.19444444, 2460278.20138889,
       2460278.20833333, 2460278.21527778, 2460278.22222222,
       2460278.22916667, 2460278.23611111, 2460278.24305556,
       2460278.25      , 2460278.25694444, 2460278.26388889,
       2460278.27083333, 2460278.27777778, 2460278.28472222,
       2460278.29166667, 2460278.29861111, 2460278.30555556,
       2460278.3125    , 2460278.31944444, 2460278.32638889,
       2460278.33333333, 2460278.34027778, 2460278.34722222,
       2460278.35416667, 2460278.36111111, 2460278.36805556,
       2460278.375     , 2460278.38194444, 2460278.38888889,
       2460278.39583333, 2460278.40277778, 2460278.40972222,
       2460278.41666667, 2460278.42361111, 2460278.43055556,
       2460278.4375    , 2460278.44444444, 2460278.45138889,
       2460278.45833333, 2460278.46527778, 2460278.47222222,
       2460278.47916667, 2460278.48611111, 2460278.49305556,
       2460278.5       ]))

In [29]:
#queries a list of specific dates


object_name = "342P"

epochs_jd = np.array(['2459846.6283218',
'2459846.6288773',
'2459846.6293403',
'2459846.6298264',
'2459846.6303009',
'2459847.6079167',
'2459847.6083912',
'2459847.6088542',
'2459847.6093287',
'2459847.6098032',
'2459847.6103241',
'2459847.6107986',
'2459847.6112731',
'2459847.6117361',
'2459847.6122106',
'2459847.6127315',
'2459847.613206'])

ra_deg, dec_deg, times = get_current_pos_date_list(object_name, epochs_jd)
print (ra_deg, dec_deg, times)

(array([258.99699, 258.99704, 258.99709, 258.99714, 258.99718, 259.09494,
       259.09498, 259.09503, 259.09508, 259.09513, 259.09518, 259.09523,
       259.09528, 259.09532, 259.09537, 259.09543, 259.09547]), array([-34.02929, -34.02927, -34.02925, -34.02924, -34.02922, -33.99705,
       -33.99703, -33.99702, -33.997  , -33.99699, -33.99697, -33.99695,
       -33.99694, -33.99692, -33.99691, -33.99689, -33.99687]), array([2459846.62832181, 2459846.6288773 , 2459846.6293403 ,
       2459846.6298264 , 2459846.6303009 , 2459847.6079167 ,
       2459847.6083912 , 2459847.6088542 , 2459847.6093287 ,
       2459847.6098032 , 2459847.6103241 , 2459847.6107986 ,
       2459847.6112731 , 2459847.6117361 , 2459847.6122106 ,
       2459847.6127315 , 2459847.613206  ]))

In [30]:
#error example

object_name = "1P"

epochs_jd = np.array(['2459846.6283218',
'2459846.6288773',
'2459846.6293403',
'2459846.6298264',
'2459846.6303009',
'2459847.6079167',
'2459847.6083912',
'2459847.6088542',
'2459847.6093287',
'2459847.6098032',
'2459847.6103241',
'2459847.6107986',
'2459847.6112731',
'2459847.6117361',
'2459847.6122106',
'2459847.6127315',
'2459847.613206'])

ra_deg, dec_deg, times = get_current_pos_date_list(object_name, epochs_jd)
print (ra_deg, dec_deg, times)

Problem with 1P. Too many object entries with the same name in JPL database. Need to use record number as object name, e.g., 90000031
(array('0', dtype='|S1'), array('0', dtype='|S1'), '0')

In [31]:

#break up a large >300 entry query into a few 300 at a time

object_name = "C/2018 W1"
jd_start = 2459846.0
jd_end = 2459881.0
number_entries = 1334
entry_limit_per_query_int = 100
epochs_jd = np.linspace(jd_start, jd_end, number_entries)

ra_deg, dec_deg, times = get_current_pos_date_list_arbitrary_number(object_name, epochs_jd, entry_limit_per_query_int)

print (ra_deg, dec_deg, times)

Computing ephemerides for entries 1 to 100 entries of 1334 total entries.
Computing ephemerides for entries 100 to 200 entries of 1334 total entries.
Computing ephemerides for entries 200 to 300 entries of 1334 total entries.
Computing ephemerides for entries 300 to 400 entries of 1334 total entries.
Computing ephemerides for entries 400 to 500 entries of 1334 total entries.
Computing ephemerides for entries 500 to 600 entries of 1334 total entries.
Computing ephemerides for entries 600 to 700 entries of 1334 total entries.
Computing ephemerides for entries 700 to 800 entries of 1334 total entries.
Computing ephemerides for entries 800 to 900 entries of 1334 total entries.
Computing ephemerides for entries 900 to 1000 entries of 1334 total entries.
Computing ephemerides for entries 1000 to 1100 entries of 1334 total entries.
Computing ephemerides for entries 1100 to 1200 entries of 1334 total entries.
Computing ephemerides for entries 1200 to 1300 entries of 1334 total entries.
Computing ephemerides for entries 1200 to 1300 entries of 1334 total entries.
(array([238.65223, 238.65359, 238.65495, ..., 241.04819, 241.05033,
       241.05248]), array([13.211  , 13.21003, 13.20907, ..., 12.17426, 12.17372, 12.17317]), array([2459846.        , 2459846.02625656, 2459846.05251313, ...,
       2459880.94748687, 2459880.97374344, 2459881.        ]))